body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  padding: 20px;
  .nav-link {
    a {
      flex: 30%;
      display: block;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: skyblue;
      border-radius: 10px;
      text-decoration: none;
      margin-bottom: 10px;
    }
    .active {
      color: pink;
    }
  }
  .routes {
    flex: 70%;
  }
}
