body {
  padding: 0;
  margin: 0;
}

.App {
  /* display: flex; */
  padding: 20px;
}

/* .App div {
  width: 170px;
  height: 140px;
  border-radius: 5%;
  background-color: pink;
  text-align: center;
  line-height: 140px;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
} */
